body{
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
.punti{
    font-size: 90px;
    margin-bottom: 25px;
}
.punteggio{
    font-size: 50px;
    margin-bottom: 25px;
}

.tempo{
    font-size: 30px;
    color: blue;
    font-weight: bold;
    margin-bottom: 40px;
}

.griglia{
    display: grid;
    grid-template-columns: 130px 130px 130px 130px;
    grid-template-rows: 130px 130px 130px 130px;
    justify-content: center;
    gap: 10px;
    justify-items: center;
    margin: auto;

}
.cellblock-active{
    background-color: #5e2121;
    color: seashell;
}
.active{
    background-color: yellow;
}





.cellblock{
    align-items: center;
    background-color: bisque;
    cursor: pointer;
    width: 130px;
    height: 130px;
    border: 2px;
    border-color: black;
    display: flex;
    justify-content: center;
    border-radius: 10px;

}
.cellblock:hover{
    background-color: #4CAF50;
    color: whitesmoke;
}
.cellblock-onclick{
    background-color: #4CAF50;
}
.iniziogioco{
    margin: 20px;
    margin-top: 25px;
    font-size: 18px;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;


}

.iniziogioco:hover{
    background-color: turquoise;
}
